// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

@import "show";

body {
  background-color: rgba(240,240,240,0.2);
}

.cards-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  width: 100vw;
  padding: 20px;
  text-align: center;
}
